# internal/core/transport/http/server/config.go
HTTP_ADDR=127.0.0.1:5050
HTTP_SHUTDOWN_TIMEOUT=

# postgreSQL
POSTGRES_PASSWORD=
POSTGRES_USER=
POSTGRES_DB=
POSTGRES_TIMEOUT=30s

# internal/core/logger/config.go 
# there is one more characteristic - LOGGER_FOLDER
# which is dynamically defined in makefile (in target todoapp-run)
LOGGER_LEVEL=DEBUG

TIME_ZONE=UTC